@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SF-Pro-Text";

  src: url("../fonts/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF-Pro-Text";

  src: url("../fonts/sf-pro-text_semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SF-Pro-Display";

  src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "SF-Pro-Display";

  src: url("../fonts/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "SF-Pro-Display";

  src: url("../fonts/sf-pro-display_bold.woff2") format("woff2");
}

/* @font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Circe";

  src: url("../fonts/Circe-Bold.woff") format("woff"),
  url("../fonts/Circe-Bold.woff2") format("woff2");
} */
