$mobile-width-only: 734px;
$tablet-width: 735px;
$desktop-width: 1068px;

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 22px;
    width: 735px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 73px;
    width: 1068px;
  }
}