.subsection {
  background-color: #17171d;
}

.subsection--wrapper {
  width: 87.5%;
  margin: 0 auto;
  
  @media (min-width: $tablet-width) {
    display: flex;
    width: 692px;
  }
  
  @media (min-width: $desktop-width) {
    width: 980px;
  }
}

.perfomance-processor__column-left {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.perfomance-processor__column-right {
  @media (min-width: $tablet-width) {
    width: 50%;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.subsection__title {
  margin-bottom: 0.15em;

  font-weight: 600;
  font-size: 1.23em;
  line-height: 1.19048;
  color: #f2f2ff;
  letter-spacing: 0.011em;

  opacity: 0.35;

  @media (min-width: $tablet-width) {
    font-size: 1.41em;
    line-height: 1.16667;
    letter-spacing: 0.009em;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.14286;
  }
}

.subsection__extra-title {
  margin-bottom: 0.15em;

  font-weight: 600;
  font-size: 1.88em;
  line-height: 1.125;
  color: #ffffff;
  letter-spacing: 0.004em;

  @media (min-width: $tablet-width) {
    margin-bottom: 0.5em;

    font-size: 2.35em;
    line-height: 1.1;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 2.83em;
    line-height: 1.08365;
    letter-spacing: -0.003em;
  }
}

.perfomance-processor__text {
  margin-bottom: 30px;
  
  @media (min-width: $tablet-width) {
    padding-right: 25px;
  }
}

.perfomance__processor-list {
  display: grid;

/* max-width: 360px; */
  max-width: 333px;
  margin-bottom: 100px;

/* grid-gap: 30px; */

  grid-gap: 50px;
  grid-template-columns: repeat(2, minmax(116px, 50%));
  grid-template-rows: repeat(1, 1fr);
  
  @media (min-width: $tablet-width) {
    max-width: initial;
    padding-top: 40px;
    grid-template-columns: repeat(2, minmax(142px, 50%));
    grid-gap: 40px;
  }
}

.perfomance__processor-item {
  h4 {
    font-weight: 600;
    font-size: 0.82rem;
    line-height: 1.42861;
    font-family: "SF-Pro-Text", "Arial", sans-serif;
    color: #ffffff;
    letter-spacing: -0.016rem;
  }

  p {
    width: 85px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: $tablet-width) {
    p {
      width: 105px;
    }
  }

  @media (min-width: $desktop-width) {
    p {
      width: 159px;
    }
  }
}
